# Docker compose to build and run the eureka service
version: '3'
services:
  hello-service:
    build:
      context: .
      dockerfile: Dockerfile
    ports: 
      - "5000:8080"
networks:
  default:
    external:
      name: springboot